
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}


    <!-- owl-carousel -->

    
    @await Component.InvokeAsync("MovieOwlCarousel")

    <!-- owl-carousel -->

    <!-- Tab links -->
    <div class="filmler">
        <div class="tab">
            <button class="tablinks" id="defaultOpen" onclick="sections(event, 'vizyondakiler')">VİZYONDAKİLER</button>
            <button class="tablinks" onclick="sections(event, 'gelecekprogram')">GELECEK PROGRAM</button>
        </div>

        <!-- Filter Bar -->
        <div class="filter">
            <div class="filter-bar">
                <div class="dropdown1">
                    <div class="sube">
                        <button class="dropbtn1">Şubelerimiz</button><i class="fas fa-sort-down"></i>
                    </div>
                    <div class="dropdown-content1">
                        @await Component.InvokeAsync("BranchList");
                    </div>
                </div>

                <div class="dropdown2">
                    <div class="dil">
                        <button class="dropbtn2">Dil</button><i class="fas fa-angle-down"></i>
                    </div>
                    <div class="dropdown-content1">
                        <a href="#about">Dil</a>
                        <a href="#base">Türkçe</a>
                        <a href="#base">İngilizce</a>
                    </div>
                </div>

                <div class="buton">
                    <a href="#" class="filterbtn">Filtrele</a>
                </div>
            </div>
            <!-- Filter Bar -->


            <!-- Tab content -->
            <div class="bolumler">
                
                @await Component.InvokeAsync("MovieList")

               @await Component.InvokeAsync("UpComingMovie")
            </div>
        </div>
    </div>

    <!-- Tab links -->

    <!-- Our Campaigns -->

    <div class="acildik">
        <div class="campaign">
            <h1>KAMPANYALARIMIZ</h1>
        </div>
        <div class="box2">
            <div class="owl-carousel main-slider2">
                <div class="banner-img"> <img src="~/CinensSinemalari/assets/img/banner/acildik-haydisinemaya.jpg" alt=""> </div>
                <div class="banner-img"> <img src="~/CinensSinemalari/assets/img/banner/acildik-haydisinemaya.jpg" alt=""> </div>
                <div class="banner-img"> <img src="~/CinensSinemalari/assets/img/banner/acildik-haydisinemaya.jpg" alt=""> </div>
            </div>
        </div>
        <div class="tumkampanyalar">
            <a href="#">Tüm Kampanyaları Listele</a>
        </div>
        <div class="instagram">
            <div class="textbtn">
                <a href="https://www.instagram.com/cinenssinemalari/" target="_blank">
                    <img src="~/CinensSinemalari/assets/img/instagramlogo.png" alt="">
                    <h1>cinenssinemalari</h1>
                </a>
            </div>
        </div>
        <div class="maps">
            <iframe class="cinens" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3117.4318839128605!2d27.397551715610184!3d38.61594447108962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b99cf28ce0fd61%3A0xccdb1da0758ab844!2sCinens%20Sinemalar%C4%B1%20Manisa!5e0!3m2!1str!2snl!4v1639577070990!5m2!1str!2snl"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

    <!-- Our Campaigns -->

