
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}


    <!-- owl-carousel -->
    
    @await Html.PartialAsync("~/Views/Movie/OwlCarouselPartial.cshtml");

    <!-- owl-carousel -->

    <!-- Tab links -->
    <div class="filmler">
        <div class="tab">
            <button class="tablinks" id="defaultOpen" onclick="sections(event, 'vizyondakiler')">VİZYONDAKİLER</button>
            <button class="tablinks" onclick="sections(event, 'gelecekprogram')">GELECEK PROGRAM</button>
        </div>

        <!-- Filter Bar -->
        <div class="filter">
            <div class="filter-bar">
                <div class="dropdown1">
                    <div class="sube">
                        <button class="dropbtn1">Şubelerimiz</button><i class="fas fa-sort-down"></i>
                    </div>
                    <div class="dropdown-content1">
                        <a href="#">Cinens Sinemaları Akhisar</a>
                        <a href="#">Cinens Sinemaları Antakya</a>
                        <a href="#">Cinens Sinemaları City Center</a>
                        <a href="#">Cinens Sinemaları Derince Kipa</a>
                        <a href="#">Cinens Sinemaları Manisa</a>
                        <a href="#">Cinens Sinemaları Mersin</a>
                        <a href="#">Cinens Sinemaları Uşak Festiva</a>
                        <a href="#">Cinens Sinemaları Venezia</a>
                        <a href="#">Cinens Sinemaları AVM Erdemli</a>
                        <a href="#">İstanbul Üsküdar Nevçarşı Cinens</a>
                        <a href="#">Cinens Sinemaları Adapazarı Cadde 54</a>
                    </div>
                </div>

                <div class="dropdown2">
                    <div class="dil">
                        <button class="dropbtn2">Dil</button><i class="fas fa-angle-down"></i>
                    </div>
                    <div class="dropdown-content1">
                        <a href="#about">Dil</a>
                        <a href="#base">Türkçe</a>
                        <a href="#base">İngilizce</a>
                    </div>
                </div>

                <div class="buton">
                    <a href="#" class="filterbtn">Filtrele</a>
                </div>
            </div>
            <!-- Filter Bar -->


            <!-- Tab content -->
            <div class="bolumler">
                <div id="vizyondakiler" class="tabcontent">
                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">The Matrix Resurrections</div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/matrix.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/10.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/13a.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Aksiyon</div>
                                <div class="category">Bilim Kurgu</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Örümcek-Adam: Eve Dönüş Yok</div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/spider-man.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/10.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/13a.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Aksiyon</div>
                                <div class="category">Macera</div>
                                <div class="category">Bilim Kurgu</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>

                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Dayı: Bir Adamın Hikayesi</div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/dayi.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/10.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/13a.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Dram</div>
                                <div class="category">Macera</div>
                                <div class="category">Aşk</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Clifford Büyük Kırmızı Köpek</div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/clifford.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/10.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/13a.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Animasyon</div>
                                <div class="category">Fantastik</div>
                                <div class="category">Aile</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Aykut Enişte 2</div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/aykut-eniste-2.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/10.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/13a.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Komedi</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Lain</div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/lain.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/10.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/13a.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Korku</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Bayram Şekeri</div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/bayram-şekeri.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/10.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/13a.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Dram</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Evdekiler</div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/evdekiler.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/10.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/13a.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Gerilim</div>
                                <div class="category">Korku</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">İntikam Vakti</div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/intikam-vakti.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/10.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/13a.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Aksiyon</div>
                                <div class="category">Gerilim</div>
                                <div class="category">Suç</div>
                                <div class="category">IMAX</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Resident Evil</div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/resident-evil.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/10.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/13a.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Aksiyon</div>
                                <div class="category">Korku</div>
                                <div class="category">Gizem</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Venom: Zehirli Öfke 2</div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/venom-zehirli-ofke.png" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/10.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/13a.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Aksiyon</div>
                                <div class="category">Bilim Kurgu</div>
                                <div class="category">Macera</div>
                                <div class="category">Gerilim</div>
                                <div class="category">Fantastik</div>
                                <div class="category">IMAX</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Eternals</div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/eternals.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/10.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/13a.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Aksiyon</div>
                                <div class="category">Dram</div>
                                <div class="category">Macera</div>
                                <div class="category">3 Boyutlu</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Titane</div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/titane.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/10.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/13a.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Dram</div>
                                <div class="category">Gerilim</div>
                                <div class="category">Bilim Kurgu</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Kuklalı Köşk 2: Orman Kaşifi</div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/kuklalı-kosk.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/10.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/13a.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Komedi</div>
                                <div class="category">Animasyon</div>
                                <div class="category">Aile</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Enkanto: Sihirli Dünya</div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/enkanto-sihirli-dunya.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/10.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/13a.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="~/CinensSinemalari/assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Animasyon</div>
                                <div class="category">Macera</div>
                                <div class="category">Komedi</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div id="gelecekprogram" class="tabcontent">
                    <div class="card" id="card1">
                        <a href="movies.html">
                            <div class="card-header">
                                <p>Kahraman</p>
                                <p>07 Ocak</p>
                            </div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/kahraman.jpg" alt=""></div>
                        </a>
                    </div>
                    <div class="card" id="card1">
                        <a href="movies.html">
                            <div class="card-header">
                                <p>Canım Dayım</p>
                                <p>07 Ocak</p>
                            </div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/canimdayim.jpg" alt=""></div>
                        </a>
                    </div>
                    <div class="card" id="card1">
                        <a href="movies.html">
                            <div class="card-header">
                                <p>Aslan Hürkuş Kayıp Elmas</p>
                                <p>07 Ocak</p>
                            </div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/aslanhurkuskayipelmas.jpg" alt=""></div>
                            </a>
                    </div>
                    <div class="card" id="card1">
                        <a href="movies.html">
                            <div class="card-header">
                                <p>Siyah Telefon</p>
                                <p>04 Şubat</p>
                            </div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/siyahtelefon.jpg" alt=""></div>
                        </a>
                    </div>
                    <div class="card" id="card1">
                        <a href="movies.html">
                            <div class="card-header">
                                <p>Siyah Telefon</p>
                                <p>04 Şubat</p>
                            </div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/siyahtelefon.jpg" alt=""></div>
                        </a>
                    </div>
                    <div class="card" id="card1">
                        <a href="movies.html">
                            <div class="card-header">
                                <p>Siyah Telefon</p>
                                <p>04 Şubat</p>
                            </div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/siyahtelefon.jpg" alt=""></div>
                        </a>
                    </div>
                    <div class="card" id="card1">
                        <a href="movies.html">
                            <div class="card-header">
                                <p>Siyah Telefon</p>
                                <p>04 Şubat</p>
                            </div>
                            <div class="card-main"><img class="image" src="~/CinensSinemalari/assets/img/filmler/siyahtelefon.jpg" alt=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tab links -->

    <!-- Our Campaigns -->

    <div class="acildik">
        <div class="campaign">
            <h1>KAMPANYALARIMIZ</h1>
        </div>
        <div class="box2">
            <div class="owl-carousel main-slider2">
                <div class="banner-img"> <img src="~/CinensSinemalari/assets/img/banner/acildik-haydisinemaya.jpg" alt=""> </div>
                <div class="banner-img"> <img src="~/CinensSinemalari/assets/img/banner/acildik-haydisinemaya.jpg" alt=""> </div>
                <div class="banner-img"> <img src="~/CinensSinemalari/assets/img/banner/acildik-haydisinemaya.jpg" alt=""> </div>
            </div>
        </div>
        <div class="tumkampanyalar">
            <a href="#">Tüm Kampanyaları Listele</a>
        </div>
        <div class="instagram">
            <div class="textbtn">
                <a href="">
                    <img src="~/CinensSinemalari/assets/img/instagramlogo.png" alt="">
                    <h1>cinenssinemalari</h1>
                </a>
            </div>
        </div>
        <div class="maps">
            <iframe class="cinens" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3117.4318839128605!2d27.397551715610184!3d38.61594447108962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b99cf28ce0fd61%3A0xccdb1da0758ab844!2sCinens%20Sinemalar%C4%B1%20Manisa!5e0!3m2!1str!2snl!4v1639577070990!5m2!1str!2snl"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

    <!-- Our Campaigns -->

