@using EntityLayer.Concrete
@model List<Movie>


<div class="slider">
        <div class="owl-carousel owl-theme">
            <div class="item"> <img src="~/CinensSinemalari/assets/img/banner/eternas.jpg" alt=""> </div>
            <div class="item"> <img src="~/CinensSinemalari/assets/img/banner/Enkanto.jpg" alt=""> </div>
            <div class="item"> <img src="~/CinensSinemalari/assets/img/banner/aykut2.jpg" alt=""> </div>
            <div class="item"> <img src="~/CinensSinemalari/assets/img/banner/umcuk.jpg" alt=""> </div>
            <div class="item"> <img src="~/CinensSinemalari/assets/img/banner/matrix.jpg" alt=""> </div>
        </div>
    </div>