
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/fontawesome-free-5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/popup.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min2.css">

    <title>Cinens</title>
    <link rel="shortcut icon" href="assets/img/titlelogo.png">

</head>

<body>
    <!-- Header -->
    <header>
        <div class="navbar">
            <div class="left">
                <ul>
                    <li><a href="index.html">ANA SAYFA</a></li>
                    <div class="dropdown">
                        <button type="button" onclick="myFunction()" class="dropbtn">SİNEMALAR<i class="fas fa-sort-down"></i></button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#">CİNENS SİNEMALARI AKHİSAR</a>
                            <a href="#">CİNENS SİNEMALARI ANTAKYA</a>
                            <a href="#">CİNENS SİNEMALARI CİTY CENTER</a>
                            <a href="#">CİNENS SİNEMALARI DERİNCE KİPA</a>
                            <a href="#">CİNENS SİNEMALARI MANİSA</a>
                            <a href="#">CİNENS SİNEMALARI MERSİN</a>
                            <a href="#">CİNENS SİNEMALARI UŞAK FESTİVA</a>
                            <a href="#">CİNENS SİNEMALARI VENEZİA</a>
                            <a href="#">CİNENS SİNEMALARI AVM ERDEMLİ</a>
                            <a href="#">İSTANBUL ÜSKÜDAR NEVÇARŞI CİNENS</a>
                            <a href="#">CİNENS SİNEMALARI ADAPAZARI CADDE 54</a>
                        </div>
                    </div>
                    <li><a href="hakkimizda.html">HAKKIMIZDA</a></li>
                </ul>
            </div>
            <div class="logo">
                <a href="index.html"><img src="assets/img/logo.svg" alt=""></a>
            </div>
            <div class="right">
                <ul>
                    <li><a href="dolby-atmos.html">DOLBY ATMOS</a></li>
                    <li><a href="kampanyalarimiz.html">KAMPANYALARIMIZ</a></li>
                    <li><a href="iletisim.html">İLETİŞİM</a></li>

                </ul>
                <div class="bayrak">
                    <a href="#" title="Click for English">
                        <img src="assets/img/trbayrak.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- Header -->

    <!-- Contact Us Buttons -->

    <div class="contact-us-button">
        <div class="talking-balloon">
            <a id="modal-open" href="#"><img src="assets/img/talking-balloon.png" alt="">
                <p>Bize</p>
                <p>Yazın</p>
            </a>
        </div>
        <div class="modal">
            <form>
                <h3 id="modal-close">x</h3>
                <h1>İletişim</h1>
                <div class="contact-form">
                    <div class="inputs">
                        <div class="adsoyad">
                            <input type="text" placeholder="Ad Soyad">
                        </div>
                        <div class="eposta">
                            <input type="text" placeholder="E Posta Adresi">
                        </div>
                        <div class="telefon">
                            <input type="text" placeholder="Telefon Numaranız">
                        </div>
                        <div class="konu">
                            <input type="text" placeholder="Konu">
                        </div>
                    </div>
                    <div class="text-area">
                        <textarea name="input" id="" cols="36" rows="3" placeholder="Mesajınız"></textarea>
                    </div>

                </div>
                <button id="form-buton">Gönder</button>
            </form>
        </div>
    </div>

    <!-- Contact Us Buttons -->

    <!-- Up Button -->
    <div class="up-buton">
        <img href="#top" id="yukari-cik" src="assets/img/top-scroll.png" alt="">
    </div>
    <!-- Up Button -->


    <!-- owl-carousel -->
    <div class="slider">
        <div class="owl-carousel owl-theme">
            <div class="item"> <img src="assets/img/banner/eternas.jpg" alt=""> </div>
            <div class="item"> <img src="assets/img/banner/Enkanto.jpg" alt=""> </div>
            <div class="item"> <img src="assets/img/banner/aykut2.jpg" alt=""> </div>
            <div class="item"> <img src="assets/img/banner/umcuk.jpg" alt=""> </div>
            <div class="item"> <img src="assets/img/banner/matrix.jpg" alt=""> </div>
        </div>
    </div>

    <!-- owl-carousel -->

    <!-- Tab links -->
    <div class="filmler">
        <div class="tab">
            <button class="tablinks" id="defaultOpen" onclick="sections(event, 'vizyondakiler')">VİZYONDAKİLER</button>
            <button class="tablinks" onclick="sections(event, 'gelecekprogram')">GELECEK PROGRAM</button>
        </div>

        <!-- Filter Bar -->
        <div class="filter">
            <div class="filter-bar">
                <div class="dropdown1">
                    <div class="sube">
                        <button class="dropbtn1">Şubelerimiz</button><i class="fas fa-sort-down"></i>
                    </div>
                    <div class="dropdown-content1">
                        <a href="#">Cinens Sinemaları Akhisar</a>
                        <a href="#">Cinens Sinemaları Antakya</a>
                        <a href="#">Cinens Sinemaları City Center</a>
                        <a href="#">Cinens Sinemaları Derince Kipa</a>
                        <a href="#">Cinens Sinemaları Manisa</a>
                        <a href="#">Cinens Sinemaları Mersin</a>
                        <a href="#">Cinens Sinemaları Uşak Festiva</a>
                        <a href="#">Cinens Sinemaları Venezia</a>
                        <a href="#">Cinens Sinemaları AVM Erdemli</a>
                        <a href="#">İstanbul Üsküdar Nevçarşı Cinens</a>
                        <a href="#">Cinens Sinemaları Adapazarı Cadde 54</a>
                    </div>
                </div>

                <div class="dropdown2">
                    <div class="dil">
                        <button class="dropbtn2">Dil</button><i class="fas fa-angle-down"></i>
                    </div>
                    <div class="dropdown-content1">
                        <a href="#about">Dil</a>
                        <a href="#base">Türkçe</a>
                        <a href="#base">İngilizce</a>
                    </div>
                </div>

                <div class="buton">
                    <a href="#" class="filterbtn">Filtrele</a>
                </div>
            </div>
            <!-- Filter Bar -->


            <!-- Tab content -->
            <div class="bolumler">
                <div id="vizyondakiler" class="tabcontent">
                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">The Matrix Resurrections</div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/matrix.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="assets/img/genelizleyici/10.png" alt="">
                                <img src="assets/img/genelizleyici/13a.png" alt="">
                                <img src="assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Aksiyon</div>
                                <div class="category">Bilim Kurgu</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Örümcek-Adam: Eve Dönüş Yok</div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/spider-man.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="assets/img/genelizleyici/10.png" alt="">
                                <img src="assets/img/genelizleyici/13a.png" alt="">
                                <img src="assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Aksiyon</div>
                                <div class="category">Macera</div>
                                <div class="category">Bilim Kurgu</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>

                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Dayı: Bir Adamın Hikayesi</div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/dayi.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="assets/img/genelizleyici/10.png" alt="">
                                <img src="assets/img/genelizleyici/13a.png" alt="">
                                <img src="assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Dram</div>
                                <div class="category">Macera</div>
                                <div class="category">Aşk</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Clifford Büyük Kırmızı Köpek</div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/clifford.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="assets/img/genelizleyici/10.png" alt="">
                                <img src="assets/img/genelizleyici/13a.png" alt="">
                                <img src="assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Animasyon</div>
                                <div class="category">Fantastik</div>
                                <div class="category">Aile</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Aykut Enişte 2</div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/aykut-eniste-2.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="assets/img/genelizleyici/10.png" alt="">
                                <img src="assets/img/genelizleyici/13a.png" alt="">
                                <img src="assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Komedi</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Lain</div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/lain.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="assets/img/genelizleyici/10.png" alt="">
                                <img src="assets/img/genelizleyici/13a.png" alt="">
                                <img src="assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Korku</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Bayram Şekeri</div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/bayram-şekeri.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="assets/img/genelizleyici/10.png" alt="">
                                <img src="assets/img/genelizleyici/13a.png" alt="">
                                <img src="assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Dram</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Evdekiler</div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/evdekiler.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="assets/img/genelizleyici/10.png" alt="">
                                <img src="assets/img/genelizleyici/13a.png" alt="">
                                <img src="assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Gerilim</div>
                                <div class="category">Korku</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">İntikam Vakti</div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/intikam-vakti.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="assets/img/genelizleyici/10.png" alt="">
                                <img src="assets/img/genelizleyici/13a.png" alt="">
                                <img src="assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Aksiyon</div>
                                <div class="category">Gerilim</div>
                                <div class="category">Suç</div>
                                <div class="category">IMAX</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Resident Evil</div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/resident-evil.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="assets/img/genelizleyici/10.png" alt="">
                                <img src="assets/img/genelizleyici/13a.png" alt="">
                                <img src="assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Aksiyon</div>
                                <div class="category">Korku</div>
                                <div class="category">Gizem</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Venom: Zehirli Öfke 2</div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/venom-zehirli-ofke.png" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="assets/img/genelizleyici/10.png" alt="">
                                <img src="assets/img/genelizleyici/13a.png" alt="">
                                <img src="assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Aksiyon</div>
                                <div class="category">Bilim Kurgu</div>
                                <div class="category">Macera</div>
                                <div class="category">Gerilim</div>
                                <div class="category">Fantastik</div>
                                <div class="category">IMAX</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Eternals</div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/eternals.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="assets/img/genelizleyici/10.png" alt="">
                                <img src="assets/img/genelizleyici/13a.png" alt="">
                                <img src="assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Aksiyon</div>
                                <div class="category">Dram</div>
                                <div class="category">Macera</div>
                                <div class="category">3 Boyutlu</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Titane</div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/titane.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="assets/img/genelizleyici/10.png" alt="">
                                <img src="assets/img/genelizleyici/13a.png" alt="">
                                <img src="assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Dram</div>
                                <div class="category">Gerilim</div>
                                <div class="category">Bilim Kurgu</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>

                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Kuklalı Köşk 2: Orman Kaşifi</div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/kuklalı-kosk.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="assets/img/genelizleyici/10.png" alt="">
                                <img src="assets/img/genelizleyici/13a.png" alt="">
                                <img src="assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Komedi</div>
                                <div class="category">Animasyon</div>
                                <div class="category">Aile</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="movies.html">
                            <div class="card-header">Enkanto: Sihirli Dünya</div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/enkanto-sihirli-dunya.jpg" alt=""></div>
                            <div class="genel-izleyici">
                                <img src="assets/img/genelizleyici/10.png" alt="">
                                <img src="assets/img/genelizleyici/13a.png" alt="">
                                <img src="assets/img/genelizleyici/olumsuzornek.png" alt="">
                                <img src="assets/img/genelizleyici/siddet.png" alt="">
                            </div>
                            <div class="card-footer">
                                <div class="category">Animasyon</div>
                                <div class="category">Macera</div>
                                <div class="category">Komedi</div>
                            </div>
                            <div class="card-footer2">
                                <div class="sessions"> SEANSLAR</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div id="gelecekprogram" class="tabcontent">
                    <div class="card" id="card1">
                        <a href="movies.html">
                            <div class="card-header">
                                <p>Kahraman</p>
                                <p>07 Ocak</p>
                            </div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/kahraman.jpg" alt=""></div>
                        </a>
                    </div>
                    <div class="card" id="card1">
                        <a href="movies.html">
                            <div class="card-header">
                                <p>Canım Dayım</p>
                                <p>07 Ocak</p>
                            </div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/canimdayim.jpg" alt=""></div>
                        </a>
                    </div>
                    <div class="card" id="card1">
                        <a href="movies.html">
                            <div class="card-header">
                                <p>Aslan Hürkuş Kayıp Elmas</p>
                                <p>07 Ocak</p>
                            </div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/aslanhurkuskayipelmas.jpg" alt=""></div>
                            </a>
                    </div>
                    <div class="card" id="card1">
                        <a href="movies.html">
                            <div class="card-header">
                                <p>Siyah Telefon</p>
                                <p>04 Şubat</p>
                            </div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/siyahtelefon.jpg" alt=""></div>
                        </a>
                    </div>
                    <div class="card" id="card1">
                        <a href="movies.html">
                            <div class="card-header">
                                <p>Siyah Telefon</p>
                                <p>04 Şubat</p>
                            </div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/siyahtelefon.jpg" alt=""></div>
                        </a>
                    </div>
                    <div class="card" id="card1">
                        <a href="movies.html">
                            <div class="card-header">
                                <p>Siyah Telefon</p>
                                <p>04 Şubat</p>
                            </div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/siyahtelefon.jpg" alt=""></div>
                        </a>
                    </div>
                    <div class="card" id="card1">
                        <a href="movies.html">
                            <div class="card-header">
                                <p>Siyah Telefon</p>
                                <p>04 Şubat</p>
                            </div>
                            <div class="card-main"><img class="image" src="assets/img/filmler/siyahtelefon.jpg" alt=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tab links -->

    <!-- Our Campaigns -->

    <div class="acildik">
        <div class="campaign">
            <h1>KAMPANYALARIMIZ</h1>
        </div>
        <div class="box2">
            <div class="owl-carousel main-slider2">
                <div class="banner-img"> <img src="assets/img/banner/acildik-haydisinemaya.jpg" alt=""> </div>
                <div class="banner-img"> <img src="assets/img/banner/acildik-haydisinemaya.jpg" alt=""> </div>
                <div class="banner-img"> <img src="assets/img/banner/acildik-haydisinemaya.jpg" alt=""> </div>
            </div>
        </div>
        <div class="tumkampanyalar">
            <a href="#">Tüm Kampanyaları Listele</a>
        </div>
        <div class="instagram">
            <div class="textbtn">
                <a href="">
                    <img src="assets/img/instagramlogo.png" alt="">
                    <h1>cinenssinemalari</h1>
                </a>
            </div>
        </div>
        <div class="maps">
            <iframe class="cinens" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3117.4318839128605!2d27.397551715610184!3d38.61594447108962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b99cf28ce0fd61%3A0xccdb1da0758ab844!2sCinens%20Sinemalar%C4%B1%20Manisa!5e0!3m2!1str!2snl!4v1639577070990!5m2!1str!2snl"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

    <!-- Our Campaigns -->


    <footer>
        <div class="footer-area">
            <div class="contact-us">
                <input class="email" type="email" class="email" placeholder="E Posta Adresi">
                <button class="gonder" type="button" class="gonderbtn">Gönder</button>
            </div>
            <div class="text">
                <p class="metin">Yeniliklerden hemen haberdar olmak ve efsaneleri yakından takip etmek</p>
                <p class="metin2">için lütfen e-posta adresini kayıt ediniz.</p>
            </div>
            <div class="follow-us">
                <span>Bizi Takip Edin</span>
            </div>
            <ul class="icons">
                <li><a href="https://www.facebook.com/CinensSinema/"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/cinenssinema"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/cinenssinemalari/?hl=tr"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCAxrFExJQBNA-3OZaY_vLgw/featured"><i class="fab fa-youtube"></i></a></li>
            </ul>
            <ul class="menu">
                <li><a href="#">SİNEMALAR</a></li>
                <li><a href="#">HAKKIMIZDA</a></li>
                <li><a href="#">DOLBY ATMOS</a></li>
                <li><a href="#">KAMPANYALARIMIZ</a></li>
                <li><a href="#">İLETİŞİM</a></li>
                <li><a href="#">KARİYER</a></li>
            </ul>
            <ul class="kvkk">
                <li><a href="#">KVKK Aydınlatma Bildirimi</a></li>
                <li><a href="#">KVKK Başvuru Formu</a></li>
                <li><a href="#">Gizlilik</a></li>
            </ul>

        </div>
        <div class="copyright">
            <span>© Copyright 2017 <b style="color: #EDDA3B;">Cinens</b> Sinemaları</span>
        </div>
        <div class="text-center">
            <li><img src="assets/img/footer/footer-badges.png" alt=""></li>
        </div>
        <div class="ticket">
            <li><img src="assets/img/footer/biletinial.png" alt=""></li>
        </div>
    </footer>

    <script src="assets/js/jquery-3.6.0.min.js "></script>
    <script src="assets/js/owl.carousel.min.js "></script>
    <script src="assets/js/owl.js "></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/app.js"></script>

    <script>
        document.getElementById("defaultOpen").click();
    </script>
</body>

</html>