

    @foreach(var item in Model)
{
    


<div class="mersin">
                        <div class="title">
                            Cinens Sinemalari
                        </div>
                        <div class="salons">
                            <p>Salon 4</p>
                            <p>Salon 6</p>
                        </div>
                        <div class="turkce">
                            <div class="turkcedublaj">
                                <p>Türkçe Dublaj</p>
                                <div class="buttons">
                                    <button class="1">11:00</button>
                                    <button class="2">16:45</button>
                                    <button class="3">18:10</button>
                                </div>
                            </div>
                            <div class="turkcealtyazili">
                                <p>Türkçe Altyazılı</p>
                                <button class="1">11:00</button>
                                <button class="2">16:45</button>
                                <button class="3">18:10</button>
                            </div>
                        </div>
                    </div>

                    }