@using EntityLayer.Concrete
@model List<About>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}



    <link rel="stylesheet" href="~/CinensSinemalari/assets/css/hakkimizda.css">





    @foreach (var item in Model)
    {
        
   

    <main>
        <div class="cinens">
            <img src="~/CinensSinemalari/assets/img/about.png" alt="">
        </div>
        <div class="about-us">
            <div class="card">
                <h1>@item.AboutTitle</h1>
                <p>@item.AboutDetails1</p>
                <p>@item.AboutDetails2</p>
            </div>
        </div>
    </main>

     }