@using EntityLayer.Concrete
@model List<Movie>
 


<div class="explanation">
    @foreach (var item in Model)
    {
            <div class="image">
                <img src="@item.MovieImageUrl" alt="">
            </div>
            <div class="content">
                <div class="writing">
                    <h2>
                        @item.MovieName
                    </h2>
                    <div class="row-cols-1">
                        <p>Oyuncular</p>
                        <p>Yönetmen</p>
                    </div>
                    <div class="row-cols-2">
                        <div class="cast">
                            <p>@item.MovieCast</p>
                        </div>
                        <div class="manager">
                            <p>@item.MovieDirector</p>
                        </div>
                    </div>
                </div>
                <div class="playbtn">
                    <a href="#" onclick="toggle();">
                        <div class="youtube">
                            <img src="~/CinensSinemalari/assets/img/play.png" alt="">
                        </div>
                        <div class="trailer">
                            Fragman
                        </div>
                    </a>
                    <div class="trailer2">
                        <p>The Batman</p>
                        <iframe width="710" height="400" src="https://www.youtube.com/embed/w9MAnKgoyoo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <img src="assets/img/close.png" onclick="toggle();" class="close">
                    </div>
                </div>
            </div>
            }
        </div>
