
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}


<head>
    <link rel="stylesheet" href="~/CinensSinemalari/assets/css/kampanyalarimiz.css">
</head>


    <main>
        <div class="kampanyalarimiz">
            <div class="kampanya-image">
                <img src="~/CinensSinemalari/assets/img/yenikampanya.png" alt="">
            </div>
            <div class="contact">
                <div class="title">
                    <h1>Kampanyalar</h1>
                </div>
                <div class="metin">

                </div>
            </div>
        </div>
    </main>