
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/CinensSinemalari/assets/css/dolby-atmos.css">
</head>

    <main>
        <div class="dolby">
            <div class="dolby1-image">
                <img src="~/CinensSinemalari/assets/img/dolby-atmos1.png" alt="">
            </div>
            <div class="dolby-atmos-nedir">
                <div class="text">
                    <div class="title">
                        <h1>Dolby Atmos Nedir?</h1>
                    </div>
                    <div class="paragraph1">
                        <p>Dünya’da 3D görüntü devriminin yaşanmasından sonra ses sisteminde ki hızlı gelişme ile birlikte artık siz sinema izleyicileri kendinizi filmin tam içinde hissedebileceğiz. Doly Atmos da salonun yanları hariç üstlerine de hoparlör
                            eklenmiş. Nssne yönelimli ses mimarisi kullanılarak çalışan sistemde 128 kanala eşdeğer ses otomatik olarak hoparlöre karışmayacak ve netliği bozulmayacak şekilde ölçüştürülür. Doly Laboratuvarları geliştirilmiş bir hoparlör
                            sisteminin yanında ürettiği sesi işleyen yüksek donanımlı ses işleyiciler ile bunu sağlıyor. Buda biz izleyicilere ses de daha fazla tanım ve boyut imkanı sağlıyor.Atmos teknoloji tiyatro yeteneklerine göre hoparlörlere uygun,
                            dinamik render için tiyatro dağıtılacak izler ses sınırsız sayıda sağlar.</p>
                    </div>
                    <div class="dolby2-image">
                        <img src="~/CinensSinemalari/assets/img/dolby-atmos2.jpg" alt="">
                    </div>
                    <div class="paragraph2">
                        <p>Bu Atmos her dinamik ses kaynağı gibi görünüyor gereken üç boyutlu bir hacim olarak, tiyatro belirli bir konum belirtmek için ( endüstri standardı Pro Tools özel bir sürümünü dijital ses iş istasyonu yazılımı kullanarak) yeniden
                            kayıt mikser sağlayan, bir gelen olacak. Ortam sesleri hala geleneksel çok kanallı formatında ayrı önceden karıştırılır. Oynatma sırasında, her tiyatro Atmos sistemi karıştırır ve o belirli tiyatronun hoparlör yapılandırması
                            için özelleştirilmiş bir şekilde, her ses kendi belirlenen noktaya geliyor görünüyor yapmak için gerçek zamanlı olarak tüm dinamik sesleri vermektedir.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

